.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.headline {
  background: -webkit-linear-gradient(#333333, #dd1818);
  background: linear-gradient(#333333, #dd1818);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.inputArea {
  text-align: center;
  margin-top: 20px;
  padding: 8px;
  border-radius: 5px;
}

.sendPoemButton {
  cursor: pointer;
  padding: 8px;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  color: yellow;
  background-color: black;
}

.connectButton {
  cursor: pointer;
  margin-top: 16px;
  font-weight: bold;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: black;
  background-color: yellow;
}
